<launch>

    <!-- global arguments are only defined here -->
    <arg name="vehicle1_id" value="1" />
    <arg name="vehicle2_id" value="2" />
    <arg name="pedestrian1_id" value="5" />
    <arg name="pedestrian2_id" value="6" />

    <arg name="objects_ground_truth_topic_with_ns" value="/sim/objects_ground_truth" />
    <arg name="desired_motion_topic_with_ns" value="/sim/desired_motion" />
    <arg name="desired_motion_absolute_topic_with_ns" value="/sim/desired_motion_absolute" />
    <arg name="object_initialization_topic_with_ns" value="/sim/object_initialization" />
    <arg name="object_removal_topic_with_ns" value="/sim/object_removal" />
    <arg name="global_communication_ns" value="/sim/comm" />

    <arg name="perc_pred_obj_topic" value="perceived_objects" />
    <arg name="perc_egomotion_topic" value="ego_motion_state" />
    <arg name="pred_plan_obj_topic" value="predicted_objects" />
    <arg name="internal_communication_subns" value="comm" />

    <arg name="BSM_topic" default="BSM"/>

    <arg name="lanelet_map_filename" value="$(find simulation_initialization_ros_tool)/res/lanelet_figure8.osm" />
    <arg name="map_frame" default="map"/>
    <arg name="map_center_lat" value="49.0229515" />
    <arg name="map_center_lon" value="8.4318737" />
    <arg name="loc_mgmt_frame" default="$(arg map_frame)"/>

    <!-- implicit definitions "$(arg )" -->
    <arg name="vehicle1_ns" value="v$(arg vehicle1_id)" />
    <arg name="vehicle2_ns" value="v$(arg vehicle2_id)" />
    <arg name="pedestrian1_ns" value="p$(arg pedestrian1_id)" />
    <arg name="pedestrian2_ns" value="p$(arg pedestrian2_id)" />

    <!-- rosparameter definitions -->
    <param name="/use_sim_time" value="true" />
    <param name="/time_mgmt/acc_factor" value="1" />
    <param name="/time_mgmt/time_resolution" value="1000" />
    <param name="/localization_mgmt/loc_mgmt_freq" value="100"/>

    <!-- set true for a synchronized start (you start the time by unclicking "pause_time" in the dynamic reconfigure window) -->
    <param name="/time_mgmt/pause_time" value="false" />

    <include file="$(find lanelet2_interface_ros)/launch/set_lanelet_map.launch">
        <arg name="map_file_name" value="$(arg lanelet_map_filename)" />
        <arg name="lat_origin" value="$(arg map_center_lat)" />
        <arg name="lon_origin" value="$(arg map_center_lon)" />
    </include>

    <param name="/ll_rviz/lanelet_map_filename" value="$(arg lanelet_map_filename)"/>

    <!-- set logger level -->
    <env name="ROSCONSOLE_CONFIG_FILE"
         value="$(find simulation_initialization_ros_tool)/launch/custom_rosconsole.conf"/>

    <!-- Define point instead of comma as decimal seperator -->
    <env name="LC_NUMERIC"
              value="en_US.UTF-8"/>

    <!-- launch simulation management -->
    <include file="$(find simulation_management_ros_tool)/launch/simulation_management.launch">
        <arg name="objects_ground_truth_topic_with_ns" value="$(arg objects_ground_truth_topic_with_ns)" />
        <arg name="desired_motion_topic_with_ns" value="$(arg desired_motion_topic_with_ns)" />
        <arg name="desired_motion_absolute_topic_with_ns" value="$(arg desired_motion_absolute_topic_with_ns)" />
        <arg name="object_initialization_topic_with_ns" value="$(arg object_initialization_topic_with_ns)" />
        <arg name="object_removal_topic_with_ns" value="$(arg object_removal_topic_with_ns)" />
        <arg name="fixed_frame" value="$(arg loc_mgmt_frame)" />
    </include>

    <!-- launch objects -->
    <include file="$(find simulation_initialization_ros_tool)/launch/vehicle_launchfiles/sample_vehicle_lanelet_init.launch" ns="$(arg vehicle1_ns)" >
        <arg name="vehicle_id" value="$(arg vehicle1_id)" />
        <arg name="vehicle_ns" value="$(arg vehicle1_ns)" />

        <arg name="objects_ground_truth_topic_with_ns" value="$(arg objects_ground_truth_topic_with_ns)" />
        <arg name="desired_motion_topic_with_ns" value="$(arg desired_motion_topic_with_ns)" />
        <arg name="global_communication_ns" value="$(arg global_communication_ns)" />
        <arg name="perc_pred_obj_topic" value="$(arg perc_pred_obj_topic)" />
        <arg name="perc_egomotion_topic" value="$(arg perc_egomotion_topic)" />
        <arg name="pred_plan_obj_topic" value="$(arg pred_plan_obj_topic)" />
        <arg name="internal_communication_subns" value="$(arg internal_communication_subns)" />
        <arg name="BSM_topic" value="$(arg BSM_topic)" />

        <arg name="object_initialization_topic_with_ns" value="$(arg object_initialization_topic_with_ns)" />
        <arg name="object_removal_topic_with_ns" value="$(arg object_removal_topic_with_ns)" />
        <arg name="lanelet_id_start" value="30002L" /> <!-- see rosinterface_handler/doc/HowToUseLongParameters.md -->
        <arg name="lanelet_id_goal" value="30003L" /> <!-- see rosinterface_handler/doc/HowToUseLongParameters.md -->
        <arg name="drive_random_after_goal_reached" value="True" />
        <arg name="initial_v" value="3.0" />
        <arg name="hull_file" value="$(find simulation_initialization_ros_tool)/res/sample_hull.xml" />
        <arg name="object_type" value="car" />
        <arg name="s_start" value="0.0" />
        <arg name="frame_id_loc_mgmt" value="$(arg loc_mgmt_frame)" />
    </include>

    <include file="$(find simulation_initialization_ros_tool)/launch/vehicle_launchfiles/sample_vehicle.launch" ns="$(arg vehicle2_ns)" >
        <arg name="vehicle_id" value="$(arg vehicle2_id)" />
        <arg name="vehicle_ns" value="$(arg vehicle2_ns)" />

        <arg name="objects_ground_truth_topic_with_ns" value="$(arg objects_ground_truth_topic_with_ns)" />
        <arg name="desired_motion_topic_with_ns" value="$(arg desired_motion_topic_with_ns)" />
        <arg name="global_communication_ns" value="$(arg global_communication_ns)" />
        <arg name="perc_pred_obj_topic" value="$(arg perc_pred_obj_topic)" />
        <arg name="perc_egomotion_topic" value="$(arg perc_egomotion_topic)" />
        <arg name="pred_plan_obj_topic" value="$(arg pred_plan_obj_topic)" />
        <arg name="internal_communication_subns" value="$(arg internal_communication_subns)" />
        <arg name="BSM_topic" value="$(arg BSM_topic)" />

        <arg name="object_initialization_topic_with_ns" value="$(arg object_initialization_topic_with_ns)" />
        <arg name="trajectory_file" value="$(find simulation_initialization_ros_tool)/res/traj2.osm" />
        <arg name="initial_v" value="5.0" />
        <arg name="hull_file" value="$(find simulation_initialization_ros_tool)/res/sample_hull.xml" />
        <arg name="object_type" value="car" />
        <arg name="s_start" value="0.0" />
        <arg name="frame_id_loc_mgmt" value="$(arg loc_mgmt_frame)" />
    </include>

    <include file="$(find simulation_initialization_ros_tool)/launch/vehicle_launchfiles/sample_static_obstacle.launch" ns="$(arg pedestrian1_ns)" >
        <arg name="vehicle_id" value="$(arg pedestrian1_id)" />
        <arg name="vehicle_ns" value="$(arg pedestrian1_ns)" />

        <arg name="object_initialization_topic_with_ns" value="$(arg object_initialization_topic_with_ns)" />
        <arg name="trajectory_file" value="$(find simulation_initialization_ros_tool)/res/traj3.osm" />
        <arg name="hull_file" value="$(find simulation_initialization_ros_tool)/res/sample_hull_pedestrian.xml" />
        <arg name="object_type" value="pedestrian" />
        <arg name="s_start" value="0.0" />
        <arg name="frame_id_loc_mgmt" value="$(arg loc_mgmt_frame)" />
    </include>

    <include file="$(find simulation_initialization_ros_tool)/launch/vehicle_launchfiles/sample_dynamic_obstacle.launch" ns="$(arg pedestrian2_ns)" >
        <arg name="vehicle_id" value="$(arg pedestrian2_id)" />
        <arg name="vehicle_ns" value="$(arg pedestrian2_ns)" />

        <arg name="object_initialization_topic_with_ns" value="$(arg object_initialization_topic_with_ns)" />
        <arg name="trajectory_file" value="$(find simulation_initialization_ros_tool)/res/traj3.osm" />
        <arg name="initial_v" value="2.0" />
        <arg name="hull_file" value="$(find simulation_initialization_ros_tool)/res/sample_hull_pedestrian.xml" />
        <arg name="object_type" value="pedestrian" />
        <arg name="s_start" value="5.0" />
        <arg name="frame_id_loc_mgmt" value="$(arg loc_mgmt_frame)" />
    </include>

    <include file="$(find simulation_management_ros_tool)/launch/object_removal.launch" ns="$(arg pedestrian1_ns)" >
        <arg name="object_id" value="$(arg pedestrian1_id)" />
        <arg name="time_of_removal_walltime" value="20" />
        <arg name="object_removal_topic_with_ns" value="$(arg object_removal_topic_with_ns)" />
    </include>


    <!-- start rviz -->
    <node pkg="rviz" type="rviz" name="my_rviz" args="-d $(find simulation_initialization_ros_tool)/launch/simulation_framework.rviz" output="screen" />

    <!-- start rqt reconfigure -->
    <node pkg="rqt_reconfigure" name="rqt_reconfigure" type="rqt_reconfigure" >
    </node>

</launch>
